<div class="container bg-gray h-80">
  <div>
    <h4>Top Headlines</h4>
    <app-category-bar [categories]="categories" (selectedCategory)="loadByCategory($event)"></app-category-bar>
  </div>

  <div class="post-grid">
    <app-post-card
      *ngFor="let item of posts"
      [title]="item.title"
      [imgUrl]="item.urlToImage"
      [url]="item.url"
      [published]="item.publishedAt"
    ></app-post-card>
  </div>
</div>
<div class="container bg-gray load-container">
  <button class="btn btn-white" type="button" (click)="loadMore($event)">
    Load more articles
  </button>
</div>
