/* You can add global styles to this file, and also import other style files */
body {
  margin: unset;
  font-family: "Segoe UI", sans-serif;
}

.container {
  padding: 1.5rem 4rem;
}

.bg-gray {
  background-color: #f9f9f7;
}

.btn {
  padding: 8px 14px;
  border-radius: 20px;
  border-width: 0 !important;
}

.btn:hover {
  background: #dc4544;
  cursor: pointer;
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #000;
  font-size: 13px;
}

.btn-red {
  background: #ff7878;
  color: #fff;
  font-size: 13px;
}

button:disabled,
button[disabled]{
  background: #fd9b9b;
  cursor: not-allowed;
  pointer-events: none !important;
}